body{
    background-color: lightgray;
    max-width: 640px;
    }
    /* .header {
    height: 150px;
    }
    .footer{
    height: 700px;
    clear: both;
    } */
    .main-contents{
        text-align: center;
    }
    /* .main-contents, .left-navi, .right-navi {
    padding: 1px;
    }
    .main-contents {
    float: left;
    width: 50%;
    } */
    .left-navi {
    text-align: left;
    }
    /* .right-navi {
    float: right;
    width: 49%;
    } */
    /* .main{
    width: 100%;
    float: right;
    } */
