body{
    background-color: lightgray;
    }
    .header {
    height: 150px;
    }
    .footer{
    height: 700px;
    clear: both;
    }
    .main-contents, .left-navi, .right-navi {
    padding: 1px;
    }
    .main-contents {
    float: left;
    width: 50%;
    }
    .left-navi {
    width: 33%;
    float: right;
    }
    .right-navi {
    float: right;
    width: 49%;
    }
    .main{
    width: 66.666666666%;
    float: right;
    }
    details {
    border: 1px solid #aaa;
    padding: 0.5em 0.5em 0;
    }
    summary {
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    }
    details[open] {
    padding: 0.5em;
    }